.input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  transition: all var(--transition);
}

.input::placeholder {
  color: var(--color-text-tertiary);
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary-light);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.error {
  border-color: var(--color-error);
}

.error:focus {
  border-color: var(--color-error);
  box-shadow: 0 0 0 2px rgb(239 68 68 / 10%);
}
