.configWrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.appHEdit {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--color-bg-secondary);

  .appHeader {
    display: flex;
    align-items: center;
    height: 56px;
    padding: var(--spacing-3);
    border-bottom: 1px solid var(--color-border);
  }

  .appContent {
    display: flex;
    flex: 1;
  }
}
