.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: var(--spacing-3);
  border-bottom: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

.main {
  flex: 1;
}
